/* Logo */
/* Adapted from Zachary Blackwood */
[data-testid="stSidebar"] {
    background-image: url(https://streamlit.io/images/brand/streamlit-logo-secondary-colormark-darktext.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 2px 10px;
}


/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.st-emotion-cache-1s4qa0f {
background-color: #FFFFFF;
border: 2px solid #CCCCCC;
padding: 3% 3% 3% 2%;
border-radius: 10px;

border-left: 0.6rem solid #9AD8E1 !important;
box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

}

label.css-mkogse.e16fv1kl2 {
color: #36b9cc !important;
font-weight: 200 !important;
text-transform: uppercase !important;
}


div.st-emotion-cache-fvdmmq {
background-color: #FFFFFF;
border: 2px solid #CCCCCC;
padding: 3% 3% 3% 2%;
border-radius: 20px;

border-left: 0.6rem solid #9AD8E1 !important;
box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

}

label.css-mkogse.e16fv1kl2 {
color: #36b9cc !important;
font-weight: 200 !important;
text-transform: uppercase !important;
}
    

/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
margin-top: -5em;
}


/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
display: none;
}

footer.css-ipbk5a.egzxvld4 {
display: none;
}

footer.css-12gp8ed.eknhn3m4 {
display: none;
}

div.vg-tooltip-element {
display: none;
}